<script setup lang="ts">
 import { useAddressBookStore } from '@/stores/AddressBookStore';
 const addressBookStore = useAddressBookStore()
</script>
    
<template>
    <div>
        <button @click="addressBookStore.isAddNew=!addressBookStore.isAddNew">Add</button>
        <table>
          <tr>
            <th>#</th>
            <th>name</th>
            <th>gender</th>
            <th>tel</th>
            <th>operation</th>
          </tr>
          <tr v-for="ad of addressBookStore.addressList" :key="ad.id">
            <td>{{ ad.id }}</td>
            <td>{{ ad.name }}</td>
            <td>{{ ad.gender }}</td>
            <td>{{ ad.tel }}</td>
            <td><button @click="addressBookStore.edit(ad.id)">Edit</button> 
                <button @click="addressBookStore.remove(ad.id)">Delete</button></td>
          </tr>
        </table>
      </div>
</template>
 
<style scoped>
input, select, label, button{
    font-family: 'Kanit';
    font-size: 20pt;
    margin: 5px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}
</style>